* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 80px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
}
.nav .logo{
    font-weight: bold;
    font-size: 60px;
    font-family: 'Updock', cursive;
    
 }
.nav .logo a{
    color: #fff;
    text-decoration: none;
}
.bg_btn{
    width: 30px;
    height: 25px;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.bg_btn:before{
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: #fff;
    height: 2px;
}
.bg_btn span{
    position: absolute;
    top: 50%;
    width: 30px;
    background-color: #fff;
    height: 2px;
}
.bg_btn:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #fff;
    height: 2px;
}
.menu{
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-color:rgb(179, 127, 227);
    z-index: 10;
}
.menu ul{
    margin-top: 20px;
    list-style: none;
}
.menu ul a{
    left: 0;
    text-decoration: none;
    color: white;
    font-size: 30px;
}